body {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p3/658451-nuvens-de-papel-fundo-do-ceu-gr%C3%A1tis-vetor.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
}
h1{
    text-align: center;
    color: #7c7b7b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div{
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 100px;
    border-radius: 25px;
    color: #7c7b7b;
}
input{
    padding: 15px;
    border: 20px;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    width: 244px;
}
button{
    background-color: white;
    border: none;
    padding: 25px;
    width:  100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    color:  #7c7b7b;
    transition: 1.5ms;
}
button:hover{
    background-color: rgba(255, 253, 253, 0.685);
    
}
a{
    text-decoration: none;
    color:#7c7b7b;
    margin-left: 10px;
    
}